@mixin theme {
  --mp-radix-accent: var(--mp-color-action-primary);
  --mp-radix-focus: var(--mp-color-focus);
  --color-background: var(--mp-color-background);
  --default-font-family: var(--mp-font-body);
  --heading-font-family: var(--mp-font-body);
}
