.git

node_modules
**/node_modules
.pnpm-store
**/.pnpm-store

.env
.env.*
!.env.example
!.env.local.example

apps/*/.next
**/.next
.next
.turbo
**/.turbo
dist
**/dist
build
**/build
out
**/out
coverage
**/coverage
test-results
**/test-results
playwright-report
**/playwright-report
*.tsbuildinfo
**/*.tsbuildinfo

.aws
.docker
*.log
*.tar
*.tar.gz
*.tgz
*.zip

.DS_Store
